In [1]:
import pandas as pd
import numpy as np

In [26]:
email = {
    'id': [1, 2, 3, 4, 5],
    'email': ['a@com','b@com', 'c@com', 'a@com', 'a@com']
}

person = pd.DataFrame(email)

person

   id  email
0   1  a@com
1   2  b@com
2   3  c@com
3   4  a@com
4   5  a@com

In [ ]:
person = person.drop_duplicates('email')
person.drop_duplicates('email', inplace=True)

   id  email
0   1  a@com
1   2  b@com
2   3  c@com