### 11번. 1부터 100까지 숫자 중 5의 배수만 리스트에 저장하여 출력하세요.

리스트 내포(List Comprehension)를 사용해도 좋습니다.

📌 출력 예시:
```
[5, 10, 15, ..., 100]
```

In [5]:
list(n for n in range(5, 101, 5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [7]:
l = []
for n in range(1, 101):
    if n % 5 == 0:
        l.append(n)
print(l)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

### 12번. 짝수만 필터링하여 새로운 리스트 만들기

다음 리스트에서 짝수만 골라 새로운 리스트로 만드세요:
```python
nums = [1,2,3,4,5,6,7,8,9,10]
```
📌 출력 예시:
```
[2, 4, 6, 8, 10]
```

In [9]:
nums = [1,2,3,4,5,6,7,8,9,10]
even_nums = []

for num in nums:
    if num % 2 == 0:
        even_nums.append(num)
        
print(even_nums)

[2, 4, 6, 8, 10]

### 13번. 딕셔너리에서 가장 비싼 과일 찾기

다음 딕셔너리에서 가격이 가장 높은 과일과 그 가격을 출력하세요:
```python
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}
```

In [50]:
fruits = {'apple': 1000, 'banana': 500, 'orange': 800, 'avocado': 1000, 'coconut': 1000}

expensive_fruits = []
max_price = 0

for fruit, price in fruits.items():
    # 이 조건문을 통과하는 순간: 최고가가 갱신됐을 때
    if max_price < price:
        max_price = price
        expensive_fruits = [fruit]
    # 최고가인 과일이 한 번 더 나왔을 때: expensive_fruits에 과일이 있음
    elif max_price == price:
        expensive_fruits.append(fruit)

print(f'''
      most expensive fruit: {expensive_fruits}
      price: {max_price}
      ''')

      most expensive fruit: ['apple', 'avocado', 'coconut']
      price: 1000

### 14번. 구구단 3단 출력하기

for문을 사용하여 구구단 3단을 출력하세요.

📌 출력 예시:
```
3 x 1 = 3
3 x 2 = 6
...
3 x 9 = 27
```

In [2]:
for dan in range(2, 10):
    print(f'------{dan}단------')
    for n in range(1, 10):
        print(f'{dan} x {n} = {dan * n}')

------2단------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
------3단------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
------4단------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
------5단------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
------6단------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
------7단------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
------8단------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
------9단------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### 15번. 문자열에서 각 문자 개수 세기

사용자로부터 문자열을 입력받아, 각 문자가 몇 번 나오는지 딕셔너리 형태로 출력하세요.

📌 예시 입력: `hello`
📌 예시 출력: `{'h':1, 'e':1, 'l':2, 'o':1}`

In [17]:
text = input("문자열을 입력하세요: ")

dict = {}

for idx in range(len(text)):
    dict[text[idx]] = text.count(text[idx])

print(dict)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

### 16번. 리스트 정렬과 최대/최소 값 찾기

다음 리스트를 오름차순으로 정렬하고, 가장 큰 값과 가장 작은 값을 출력하세요:
```python
nums = [3, 1, 4, 1, 5, 9, 2, 6]
```

In [7]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]

nums_sorted = sorted(nums)

print(f'''
      original list: {nums}
      sorted list: {nums_sorted}
      smallest number: {nums_sorted[0]}
      biggest number: {nums_sorted[-1]}
      ''')

      original list: [3, 1, 4, 1, 5, 9, 2, 6]
      sorted list: [1, 1, 2, 3, 4, 5, 6, 9]
      smallest number: 1
      biggest number: 9

### 17번. 회문(Palindrome) 검사

입력받은 단어가 앞에서 읽든 뒤에서 읽든 같은 단어인지 확인하는 프로그램을 작성하세요.

📌 예시: `level` → 회문 / `hello` → 회문 아님

In [5]:
word = input("단어를 입력하세요: ")
word = word.replace(' ', '')  # 띄어쓰기 없애기
word = word.strip()  # 공백 없애기

pal = word[::-1]

if word == pal:
    print(f'{word} -> {pal}, It\'s pallindrome :)')
else:
    print(f'{word} -> {pal}, It\'s not pallindrome :(')

level -> level, It's pallindrome :)

### 18번. 집합 연산: 합집합, 교집합, 차집합

다음 두 집합의 합집합, 교집합, 차집합을 구하세요:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
```

In [9]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(f'''
      합집합: {A | B}
      교집합: {A & B}
      차집합: {A - B}
      ''')

      합집합: {1, 2, 3, 4, 5, 6, 7, 8}
      교집합: {4, 5}
      차집합: {1, 2, 3}

### 19번. 1부터 n까지의 합 구하기

사용자로부터 정수 n을 입력받아 1부터 n까지의 합을 구하는 프로그램을 작성하세요.

In [ ]:
n = int(input("정수를 입력하세요: "))

total = 0

for i in range(n + 1):
    total += i    

print(f'1부터 {n}까지의 합: {total}')

1부터 10까지의 합: 55

### 20번. 리스트에서 중복 제거

다음 리스트에서 중복된 값을 제거하고 유일한 값만 남긴 리스트를 출력하세요:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [2]:
nums = [1, 2, 2, 3, 4, 4, 5]

nums = list(set(nums))

print(nums)

[1, 2, 3, 4, 5]